<html>
<head>
  <title>Assessment: {{ quiz.title }}</title>
  <style>
input[type="radio"] {
    accent-color: gray;
}
  </style>
</head>

<body>
  <h1>Assessment: {{ quiz.title }}</h1>
  <p><em>{{ quiz.intro }}</em></p>
<hr/>

<form
  id="multi_guess"
>
{% for q in quiz.questions %}
  <h2>{{ q.question }}</h2>

  {% for choice in q.choices %}
    <input type="radio" id="{{ choice.id }}" name="{{ q.name }}" value="{{ choice.text }}"/>
    <label for="{{ choice.id }}">{{ choice.text }}</label>
    <br/>
  {% endfor %}

  <div id="{{ q.name }}">&nbsp;</div>
{% endfor %}

<hr
  style="width:33%; text-align:left;"
/>
<p>
  <a
    href="#"
    style="border-color:#000; border-radius:5px; border-style:solid; border-width:1px 1px 1px 1px; text-decoration:none; padding:9px; background:blue; color:white; font-weight:bold;"
    onclick="score_quiz()"
  ><strong>SCORE</strong></a>
&nbsp;
<strong><span id="result"></span></strong>
</p>
</form>

<br/>
<hr/>

<footer>
<p>
This multiple-choice quiz provides a brief 
<a
  href="https://www.oreilly.com/content/why-self-assessments-improve-learning/"
  target="_blank"
><em>formative assessment</em></a>
about a specific topic.
Powered by <strong>Derwen, Inc.</strong>
</p>
</footer>

<script>
const num_questions = {{ quiz.questions|length }};

const answer_key = [
    {% for hash in quiz.answer_key %}
    "{{ hash }}",
    {% endfor %}
];

const decoys = new Map([
    {% for q in quiz.questions %}
    [ "{{ q.name }}", {
	{% for choice in q.choices %}
	"{{ choice.id }}": {
	    "info": "{{ choice.info }}",
	    "cite": "{{ choice.cite }}",
	},
	{% endfor %}
    }],
    {% endfor %}
]);
</script>
<script src="quiz/quiz.js"></script>

</body>
</html>
